
            <div class="breadcrumb-area pt-205 pb-210 bg-img" style="background-image: url(assets/img/bg/breadcrumb.jpg)">
              <div class="container">
                  <div class="breadcrumb-content">
                      <h2>shop</h2>
                      <ul>
                          <li><a href="#">home</a></li>
                          <li> shop </li>
                      </ul>
                  </div>
              </div>
          </div>

          
          <div class="shop-page-wrapper hidden-items padding-filter">
              <div class="container-fluid">
                  <div class="shop-filters-right">

                      <div class="shop-product-content tab-content">


                          <div id="grid-5-col1" class="tab-pane fade active show" >
                              <div class="row custom-row" >
                                  <div class="custom-col-5 custom-col-style" *ngFor="let item of data">
                                      <div class="single-product mb-35">
                                          <div class="product-img">
                                              
                                              <a href="#"><img src="{{item.imgUrl.S}}" width="302" height="365" alt=""></a>
                                              <div class="product-action">
                                                <!-- <button class="danger" (click)="addCart(item.idProducto)" ><i class="ion-bag"></i></button> -->
                                                  <!-- <a title="Wishlist" class="animate-left" href="#"><i class="ion-bag" ></i></a> -->
                                              </div>
                                          </div>
                                          <div class="product-content">
                                              <div class="product-title-price">
                                                  <div class="product-title">
                                                      <h4>{{item.nombre.S}}</h4>
                                                  </div>
                                                  <div class="product-price">
                                                      <span>$ {{item.precio}}</span>
                                                  </div>
                                              </div>
                                              <div class="product-cart-categori">
                                                  <div class="product-cart">
                                                      <span>{{item.descripcion.S}}</span>
                                                  </div>
                                                  <br>
                                                  <div class="product-categori">
                                                      <!-- <button class="danger" (click)="addCart()" ><i class="ion-bag"></i> Añadir al carrito</button> -->
                                                      <!-- <a class="animate-left" href="#" (click)="addCart()"><i class="ion-bag"></i> Añadir al carrito</a> -->
                                                      <div class="input-group">
                                                        <input type="number" class="form-control" min="1" max="100" [(ngModel)]="cantidadProductos">
                                                        <span class="input-group-btn">
                                                             <button class="btn btn-default" style="background-color: red;"
                                                                    (click)="addCart(item.idProducto,item.nombre.S,item.precio,item.imgUrl.S)" >
                                                                    <i class="ion-bag" style="color: white;"></i></button>
                                                        </span>
                                                     </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                 </div>


                                 
                              </div>
                          </div>
  
                      </div>
                  </div>
              </div>
          </div>