<header class="pl-155 pr-155 intelligent-header">
  <div class="header-area header-area-2">
      <div class="container-fluid p-0">
          <div class="row no-gutters">
              <div class="col-lg-3 col-md-6 col-6">
                  <div class="logo">
                      <a href="index.html"><img src="assets/img/logo/logo.png" alt="" /></a>
                  </div>
              </div>
              <div class="col-lg-6 menu-none-block menu-center">
                  <div class="main-menu">
                      <nav>
                         <ul>
                              <li><a href="#">home</a></li>
                              <li><a href="about-us.html">about us</a></li>
                              <li><a href="shop-grid-view-5-col.html">shop</a></li>
                              <li><a href="#">pages</a></li>
                              <li><a href="#">blog</a></li>
                              <li><a href="contact.html">contact</a></li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>